body {
	margin: 0;
    max-width: 1000px;
	margin: 0 auto 50px;
	padding: 50px 0;
	border-bottom: 2px solid black;
}
.blockquote {
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    color: green;
}

blockquote::before {
    content: open-quote;
}

blockquote::after {
    content: close-quote;
}

.holder a[href^='https://'] {

    color: red;
}

.list > li:nth-child(4) a {
    background-color: green;
}

.holder  p {
    font-size: 26px;
}

.text-box h3:first-child {
    color: pink;
}

#greycol {
    color: grey;
}

.text-box div p {
    color: red;
}

.text-box p:nth-child(7) {
    color: green;
}

.yellow {
    color: yellow;
}

.bg-box {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    background:
        url("../img/dom.jpg") center no-repeat,
        url("../img/lamp.png") top / 40px 40px repeat-x,
        url("../img/grass.png") bottom /940px 170px no-repeat,
        url("../img/donut.png") right / 30px 30px repeat-y,
        url("../img/Hedgehog.png") left / 30px 30px repeat-y;
    background-color: green;
}